.start-container{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.start-container h1{
   position: relative;
   margin: 0;
   font-size: 4rem;
   font-weight: 900;
   color: white;
   z-index: 1;
   overflow: hidden;
}

.start-container span{
   color: #ff022c;
}

.start-text::before{
   content: "";
   position: absolute;
   left: 110%;
   width: 120%;
   height: 100%;
   background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100% );
   animation: startAnimate 3s linear forwards;
}

@keyframes startAnimate{
   0%{
      left: 110%;
   }
   100%{
      left: -20%
   }
}

video{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   z-index: 2;
   pointer-events: none;
   mix-blend-mode: screen;
}